.form-search {
    position: relative;
    width: 100%;
    max-width: 440px;
}

.search-box {
    position: relative;
    border-radius: 20px;
    height: 40px;
    background-color: var(--alpha-bg);

    &:focus-within {
        background: var(--primary-bg);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.search-icon {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: 10px;
    left: 10px;
    color: var(--text-placeholder);
}

.input-wrapper {
    position: absolute;
    top: 0;
    left: 38px;
    right: 10px;
    bottom: 0;
}

.search-input {
    margin: 0;
    display: inline-block;
    width: 95%;
    font-size: 14px;
    color: var(--search-text);
    background-clip: padding-box;
    border: 0;
    position: relative;
    top: 2px;
    height: 34px;
    padding: 5px 0;
    line-height: 34px;

    &::placeholder {
        color: #ffffff;
    }
}

.search-result {
    margin-top: -10px;
    width: 440px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.search-title {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 10px 8px;
    display: flex;
    justify-content: space-between;
}
