.slides-wrapper {
    display: flex;
    width: 100%;
    padding-top: 32px;
}

.slide-item {
    width: 33.33%;
    padding: 0 15px;
    list-style: none;
    padding-bottom: 56.25%;
}

.slide-img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    transform: none;
    transition: transform 0.7s;
}
